.circle {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: turquoise;
}

@for $num from 1 through 8 {
    .circle:nth-child(#{$num}) {
        left: ($num - 1) * 40px;
    }
}